@import "tailwindcss";

@theme {
  /* gray */

  --color-gray-light: #e0e0e0;
  --color-gray-dark: #4a4a4a;

  /* font */
  --font-heading: var(--font-bodoni), serif;
  --font-body: var(--font-barlow) , sans-serif;
}
